examen_campus_leonardo_delacruz.json
{
  "name": "examen_campus_leonardo_delacruz",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Formulario prueba",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Files",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -560,
        -64
      ],
      "id": "ef829ae4-21a5-4bf6-b32d-39539ded5aa6",
      "name": "On form submission",
      "webhookId": "948eda6b-1d89-4ec5-bf4d-0b1ff7e9d03b"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "chatbot-n8n-test",
          "mode": "id"
        },
        "embeddingBatchSize": 1536,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        48,
        80
      ],
      "id": "ad6e5fca-b94c-4378-bf8d-5e388b03ea37",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "8JsvKBnmXHrDZM1I",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -256,
        320
      ],
      "id": "03f4bde2-3c3e-4e14-9b57-7dcf4b544e21",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "fmfI0eZd0XiiihoU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        192,
        304
      ],
      "id": "8aa38a9b-19c5-4976-8cc9-7a01127319a3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        320,
        480
      ],
      "id": "f8c80439-0f6f-4fde-931c-c995624b33ef",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        576,
        -112
      ],
      "id": "9133248e-433b-4772-b82c-40cc190a9c8d",
      "name": "Telegram Trigger",
      "webhookId": "dcf1a572-2b7f-4a84-81bf-b7c756b23eca",
      "credentials": {
        "telegramApi": {
          "id": "y8Fgq8k5NhNwfU6r",
          "name": "PolicyFlow BOT"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Eres un asistente útil el cual ayudará a los empleados a entender las políticas de la empresa, dar la mejor claridad sobre el tema y que sea de una forma limpia y clara.\n\ntu nombre es PolicyFlow Lite\n\nUsa la base de datos vectoria (chatbot-n8n-test) de los cuales ellos van a hacer preguntas sobre la empresa y sus políticas.\n\nSi no sabes algo o no encuentras en la base de datos o recursos algo que no sabes respondes, no puedo responder a esta pregunta.\n\nReglas importantes:\n\n* Mantén siempre el tono cálido, empático y profesional.\n* Refleja los valores de la marca: transparencia, responsabilidad, calidad, empatía y sostenibilidad.\n* Puedes explicar a detalle cada punto.\n* No inventes información que no esté en la base de datos.\n* No hagas afirmaciones exageradas o milagrosas.\n\nTu objetivo es orientar al empresario en base a las políticas de la empresa.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        784,
        -112
      ],
      "id": "084e0579-4130-4599-82c7-236b557cca20",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        96
      ],
      "id": "00e4b4eb-cae6-4795-9f84-2a90dcbc7393",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fmfI0eZd0XiiihoU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Usa esta herramienta para adquirir conocimiento desde la base de datos",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "chatbot-n8n-test"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        608,
        928
      ],
      "id": "32a6d271-d60e-438b-be77-80615292bd19",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "8JsvKBnmXHrDZM1I",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        -106.373814854784
      ],
      "id": "6c4ea916-6633-4ad7-8846-631e41c3af29",
      "name": "Send a text message",
      "webhookId": "4ced6ba9-5306-40c8-8c99-64c65e0c734c",
      "credentials": {
        "telegramApi": {
          "id": "y8Fgq8k5NhNwfU6r",
          "name": "PolicyFlow BOT"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "collectionName": "n8n-exam-history",
        "databaseName": "test-n8n-exam-leonardo"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        720,
        304
      ],
      "id": "358e7a91-0593-490f-82da-b0b86f7e7d33",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "79Xq9Us3B4NNGn3h",
          "name": "MongoDB account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "20ea4e5c-824e-42fc-a414-9cb012f82e08",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2243de902ea74b5b663537c3e3742969b5833ba80f205b39d5bc0bf3e21b209"
  },
  "id": "Xg6950jVQfCaI7LkJ5yij",
  "tags": []
}